

comment {
    position: relative;
    display: block;
}

comment-list {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}


comment-list comment-box {
    position: relative;
    margin-left: 20px;
}
comment-box {
    display: block;
    position: relative;
}

comment-box textarea {
    display: block;
    margin: 30px 0px;
    height: 100px;
    width: 100%;
}

input.hideButton {
	position: absolute;
	right: 10px;
	top: 10px;
}

.controlsSidePane {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
}