comment {
    position: relative;
    display: block;
}

comments-list {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    max-width: 700px;
}

comments-list comment-box {
    position: relative;
    margin-left: 20px;
}
comment-box {
    display: block;
    position: relative;
}

comment-box textarea {
    display: block;
    margin: 30px 0px;
    height: 100px;
    width: 100%;
}

input.hideButton {
	position: absolute;
	right: 10px;
	top: 10px;
}

.controlsSidePane {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
}

input.dataReset { 
    margin-bottom: 20px;
    margin-left: 20px;
}
.topicField {
    width: 70%;
}

comment section > * {
    vertical-align: top;
    display: inline;
}

comment section textarea {
    width: 60%;
}

comment section + * {
    margin-top: 20px;
}

comment-and-replies reply-inputs {
    display: block;
    margin-top: 15px;
}